body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.7;
    color: #fff;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  }

.navbar-custom {
    background-color: #F8BB5D;
}
.container-wrap {
    max-width: 1060px;
    margin: 0 auto;
    margin-bottom: 1em;
    background: #392338;
}

@media screen and (max-width: 768px) {
    .container-wrap {
      width: 100%;
    }
}

.shaded {
    background-color: gray;
    opacity: 90%;
    
}

.post-picture {
    max-width: 300px;
    max-height: 300px;
}