{% extends "base.html" %}

{% block content %}

<h1>{{ post.title }}</h1>
<br>
{% if "placeholder" in post.image.url %}
        {% else %}
        <img class="card-img-top" src=" {{ post.image.url }}">
        {% endif %}
        <p class="card-text">Author: {{ post.author }}</p>
        <p class="card-text">{{ post.created_on}}</p>
        <p class="card-text">{{ post.content|safe }}</p>
        <a class="btn btn-warning" href="{% url 'update_post' post.pk %}" role="button">Edit</a>
        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}" role="button">Delete</a>

{%endblock%}